.tc-tiddler-body button:not(.tc-remove-tag-button),
.tc-tab-content button:not(.tc-install-plugin):not(.tc-remove-tag-button),
.tc-edit-tags button:not(.tc-remove-tag-button),
.tc-editor-toolbar button,
.tc-edit-field-add button {
  background: transparent;
  background-color: transparent !important;
  border: none;
  border-radius: 0px !important;
  padding: 4px 8px !important;
  color: <<colour foreground>> !important;
  fill: <<colour foreground>> !important;
  transition: all {{$:/config/AnimationDuration}}ms;
}

.tc-tiddler-frame .tc-tab-buttons:not(.tc-sidebar-tabs-main):not(.tc-vertical) button {
  background: transparent;
  border: none;
  border-radius: 3px 3px 0 0;
  padding: 4px 8px;
  transition: all {{$:/config/AnimationDuration}}ms;
}

.tc-tiddler-body button:not(.tc-remove-tag-button):hover,
.tc-editor-toolbar button:hover,
.tc-tab-content button:not(.tc-install-plugin):not(.tc-remove-tag-button):hover,
.tc-edit-field-add button:hover,
.tc-edit-tags button:not(.tc-remove-tag-button):hover,
.tc-tiddler-frame .tc-tab-buttons:not(.tc-sidebar-tabs-main) button:hover {
  background: <<colour page-background>> !important;
  background-color: <<colour page-background>> !important;
  color: <<colour foreground>> !important;
  fill: <<colour foreground>> !important;
  filter: contrast(85%);
}

.tc-edit-field-add button.tc-tab-selected,
.tc-edit-tags button.tc-tab-selected,
.tc-tiddler-body button.tc-tab-selected,
.tc-tiddler-frame .tc-tab-buttons:not(.tc-sidebar-tabs-main) button.tc-tab-selected {
  background: <<colour page-background>> !important;
  background-color: <<colour page-background>> !important;
  color: <<colour foreground>> !important;
  fill: <<colour foreground>> !important;
  filter: contrast(70%);
}

.tc-vertical > button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tc-tag-label > button {
  padding: 0 0 0 4px !important;
  color: <<colour tag-foreground>> !important;
  fill: <<colour tag-foreground>> !important;
}

.tc-tag-label > button:hover {
  background: transparent !important;
  background-color: transparent !important;
}
