.mind-elixir-toolbar,
.gk0wk-elixir-operations-menu-container,
.gk0wk-elixir-theme-menu-container,
.gk0wk-elixir-export-menu-container {
  background: <<colour menubar-background>> !important;
  color: <<colour foreground>> !important;
  fill: <<colour foreground>> !important;
}

.gk0wk-mind-elixir-container .node-menu input,
.gk0wk-mind-elixir-container .node-menu textarea {
  color: black !important;
}

.mind-elixir-toolbar.rb {
  display: flex;
  align-items: center;
}

.mind-elixir-toolbar.rb span#theme,
.mind-elixir-toolbar.rb span#export,
.mind-elixir-toolbar.rb span#settings {
  height: 1em;
}

.mind-elixir-toolbar.rb span#theme > p,
.mind-elixir-toolbar.rb span#export > p,
.mind-elixir-toolbar.rb span#settings > p {
  margin: 0 !important;
}
